@font-face {
  font-family: "Inconsolata-Black";
  src: url(./fonts/Inconsolata-Black.ttf);
}

@font-face {
  font-family: "Inconsolata-Medium";
  src: url(./fonts/Inconsolata-Medium.ttf);
}

@font-face {
  font-family: "Inconsolata-Regular";
  src: url(./fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "Silkscreen-Bold";
  src: url(./fonts/Silkscreen-Bold.ttf);
}

@font-face {
  font-family: "Silkscreen-Regular";
  src: url(./fonts/Silkscreen-Regular.ttf);
}

html {
  background-color: rgb(34, 33, 41);
}

body {
  font-family: "Inconsolata-Medium";
  margin: 30px 20vw;
}

.header_logo a {
  font-family: "Inconsolata-Medium";
  color: black;
  background-color: #ffa86a;

  text-decoration: none;
  width: 130px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.header_logo {
  display: flex;
}

.header_logo::after {
  content: "";
  width: 100%;
  height: 35px;

  background: repeating-linear-gradient(
    90deg,
    #ffa86a,
    #ffa86a 2px,
    transparent 0,
    transparent 10px
  );
}

.navbar a {
  font-family: "Silkscreen-Regular";
  text-decoration: none;
  color: #ffa86a;
  margin-right: 30px;
}

.navbar {
  margin-bottom: 15px;
  text-align: center;
  border-top: 2px #ffa86a dotted;
  border-bottom: 2px #ffa86a dotted;
  padding-top: 7px;
  padding-bottom: 7px;
}

.titulo {
  font-family: "Silkscreen-Regular";
  color: #ffa86a;
  margin-bottom: 20px;
}

.img_principal img {
  width: 35vw;
  border: 17px solid #ffa86a;
  padding: 17px;
}

.apresentacao p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

.apresentacao {
  border-bottom: 3px #ffa86a dotted;
}

#estudos h2 {
  color: #ffa86a;
  margin-bottom: 10px;
  margin-top: 10px;
}

#estudos li {
  color: #fff;
  margin-bottom: 15px;
}

#estudos {
  border-bottom: 3px #ffa86a dotted;
  margin-top: 5px;
  border-top: 3px #ffa86a dotted;
}

.fa-circle {
  font-size: 8px;
  text-align: center;
  color: #fa8c3d;
}

#habilidades {
  border-bottom: 3px #ffa86a dotted;
  margin-top: 5px;
  border-top: 3px #ffa86a dotted;
}

#habilidades h2 {
  color: #ffa86a;
  margin-top: 15px;
  margin-bottom: 15px;
}

#habilidades label {
  color: #fff;
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-bottom: 8px;
}

#habilidades progress {
  accent-color: #fa8c3d;
}

.portfolio h2 {
  color: #ffa86a;
  margin-bottom: 15px;
  margin-top: 5px;
}

.portfolio img {
  column-count: 2;
  column-gap: 10px;
  border-radius: 5px;
}

.img_1 {
  width: 350px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.img_2 {
  width: 350px;
  margin-bottom: 35px;
}

#contato h2 {
  color: #ffa86a;
  margin-top: 15px;
}

#contato {
  font-size: 18px;
  color: #fff;
  border-bottom: 3px #ffa86a dotted;
  margin-top: 5px;
  border-top: 3px #ffa86a dotted;
}

#contato a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

#contato p {
  margin-bottom: 15px;
}

.margin_contato {
  margin-top: 20px;
}

.rodape {
  color: #fff;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  border-top: 3px #ffa86a dotted;
  margin-top: 5px;
}

.rodape p {
  box-sizing: border-box;
  padding-bottom: 15px;
}

.rodape i {
  font-size: 25px;
  color: #fa8c3d;
}

.btn_home {
  background-color: #fa8c3d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.btn_home i {
  color: #fff;
  font-size: 26px;
}

@media (max-width: 720px) {
  body {
    margin: 30px 8vw;
  }

  .header_logo {
    font-size: 14px;
  }

  .titulo {
    font-size: 26px;
  }

  .img_principal {
    width: 50vw;
  }

  .img_1 {
    width: 85vw;
    margin-right: 0px;
  }

  .img_2 {
    width: 85vw;
  }

  .apresentacao p {
    font-size: 16px;
  }

  #contato p {
    font-size: 16px;
  }
}
