@font-face {
  font-family: "Inconsolata-Black";
  src: url(/fonts/Inconsolata-Black.ttf);
}

@font-face {
  font-family: "Inconsolata-Medium";
  src: url(/fonts/Inconsolata-Medium.ttf);
}

@font-face {
  font-family: "Inconsolata-Regular";
  src: url(/fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "Silkscreen-Bold";
  src: url(/fonts/Silkscreen-Bold.ttf);
}

@font-face {
  font-family: "Silkscreen-Regular";
  src: url(/fonts/Silkscreen-Regular.ttf);
}

html {
  background-color: rgb(34, 33, 41);
}

body {
  font-family: "Inconsolata-Medium";
  margin: 30px 20vw;
}

.header_logo a {
  font-family: "Inconsolata-Medium";
  color: black;
  background-color: #ffa86a;
  display: inline-block;
  text-decoration: none;
  width: 130px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.navbar a {
  font-family: "Silkscreen-Regular";
  text-decoration: none;
  color: #ffa86a;
}

.navbar {
  margin-bottom: 15px;
}

.titulo {
  font-family: "Silkscreen-Regular";
  color: #ffa86a;
  margin-bottom: 20px;
}

.img_principal img {
  width: 35vw;
  border: 17px solid #ffa86a;
  padding: 17px;
}

.apresentacao p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

.apresentacao {
  border-bottom: 1px #525252 solid;
}

#estudos h2 {
  color: #ffa86a;
  margin-bottom: 10px;
  margin-top: 10px;
}

#estudos li {
  color: #fff;
  margin-bottom: 15px;
}

#estudos {
  border-bottom: 1px #525252 solid;
}

.fa-circle {
  font-size: 8px;
  text-align: center;
  color: #fa8c3d;
}

#habilidades {
  border-bottom: 1px #525252 solid;
}

#habilidades h2 {
  color: #ffa86a;
  margin-top: 15px;
  margin-bottom: 15px;
}

#habilidades label {
  color: #fff;
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-bottom: 8px;
}

#habilidades progress {
  accent-color: #fa8c3d;
}

.portfolio h2 {
  color: #ffa86a;
  margin-bottom: 15px;
  margin-top: 5px;
}

.portfolio img {
  column-count: 2;
  column-gap: 10px;
  border-radius: 5px;
}

.img_1 {
  width: 350px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.img_2 {
  width: 350px;
  margin-bottom: 35px;
}

#contato h2 {
  color: #fa8c3d;
  margin-top: 15px;
}

#contato {
  font-size: 18px;
  color: #fff;
  border-bottom: 1px #525252 solid;
}

#contato a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

#contato p {
  margin-bottom: 15px;
}

.margin_contato {
  margin-top: 20px;
}

.rodape {
  color: #fff;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

.rodape p {
  box-sizing: border-box;
  padding-bottom: 15px;
}

.rodape i {
  font-size: 25px;
  color: #fa8c3d;
}
